/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #searchBox {
    height: 35px;
    width: 150px;
    margin-top: 12px;
    border-radius: 2px;
    border-style: hidden;
}


#map {
    height: 400px; 
    width: 100%;
}
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#infoWindow {
    color: #4285F4;
}

#mapContainer {
    border-style: solid;
}

#displayedInformation {
    display: flex;
}

#currentWeatherCont {
    border-style: solid;
}

#todayWeatherCont {
    border-style: solid;
    display: flex;
    justify-content: center;
}

.eachToday {
    border-style: solid;
}

.sliderCont {
    border-style: solid;
    display: flex;
}

.slider {
    width: 25vw;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
}

.slider:hover {
    opacity: 1;
    cursor: pointer;
}


#forecastCont {
    border-style: solid; 
    display: flex;
}

#forecast {
    border-style: solid;
    display: flex;
}
