* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: url(https://iili.io/H8r461n.jpg);
    background-size: cover;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

section{
    background-color: #FFFFFF;
    width: 60%;
    max-width: 60%;
    margin: 10em auto;
    padding: 2em 2em;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    padding: 2em 2.5em;
    justify-content: center;
}

.buttonsContainer a {
    margin: 0 0.5em;
    
}

h1 {
    font-size: 250%;
    text-align: center;
    padding: 0.5em;
}

section a {
    display: inline-block;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #838DBF, #a9b3e9);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    margin-left: 35%;
    font-size: 100%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    align-items: center;
}

a:hover {
    color: #00337C;
}